

/* ============================================================================ */
/* 0-0 base style */
/* ============================================================================ */

body {
	font-family: "Noto Sans Japanese";
	font-feature-settings: "palt";
	color: #333333;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
img { width: 100%; }
section {
	position: relative;
	/* overflow: hidden; */
	margin-bottom: 4em;
}
/* Responsive */
.pc { display: block; }
.sp { display: none; }

@media only screen and (max-width: 1024px) {
	.pc { display: none; }
	.sp { display: block; }
}

/* font-size */
.txt-ss { font-size: .5em; }
.txt-s { font-size: .8em; }
.txt-l { font-size: 1.2em; }
.txt-xl { font-size: 1.5em; }
html { font-size: 10px; }
body { font-size: 1.6rem; }
h1 { font-size: 2.4rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
i,
input,
select,
textarea,
option { font-size: 1.6rem; }
.btn { font-size: 1.6rem; }
.btn.btn-sm { font-size: 1.4rem; }
.dropdown-item { font-size: 1.6rem; }
.badge-large { font-size: 1.6rem; }
.badge-middle { font-size: 1.4rem; }
.badge-small { font-size: 1.2rem; }
.form-control { font-size: 1.6rem; }
.status-block .block-contents > p { font-size: 2.4rem; }
.instance-count { font-size: 3.6rem; }

@media only screen and (max-width: 321px) {
	html { font-size: 8px; }
}

/* margin-bottom */
.mb_00 { margin-bottom: 0; }
.mb_10 { margin-bottom: 10px; }
.mb_20 { margin-bottom: 20px; }
.mb_30 { margin-bottom: 30px; }
.mb_40 { margin-bottom: 40px; }
.mb_60 { margin-bottom: 60px; }
/* margin-top */
.mt_00 { margin-top: 0; }
.mt_10 { margin-top: 10px; }
.mt_20 { margin-top: 20px; }
.mt_30 { margin-top: 30px; }
.mt_40 { margin-top: 40px; }
.mt_60 { margin-top: 60px; }
/* icon */
i.fas { margin: 0 0.5rem; }

/* ============================================================================ */
/* 0-1 page-header */
/* ============================================================================ */

header {
	background-color: #19191a;
	height: 100%;
	max-height: 50px;
	width: 100%;
	z-index: 4;
	position: fixed;
	top: 0px;
	left: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
header .logo {
	width: 167px;
	position: absolute;
	top: 50%;
	left: 10px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sub-nav {
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sub-nav > ul {
	margin: 0;
	list-style: none;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.sub-nav > ul > li > a {
	margin-left: 20px;
	color: #FFFFFF;
}
.sub-nav > ul > li > a:hover { color: #FF9912; }

@media only screen and (max-width: 1024px) {
	header.status-on {
		background-color: #19191a;
		height: 100%;
		max-height: 100%;
		overflow: hidden;
	}
	header .logo {
		width: 110px;
		top: 14px;
		left: 16px;
		transform: none;
	}
	.sp.sub-nav-button {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 30px;
		height: 30px;
	}
	.sp.sub-nav-button:before,
	.sp.sub-nav-button:after {
		content: "";
		height: 3px;
		position: absolute;
		width: 30px;
		display: block;
		background-color: #FFF;
		left: 0;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.sp.sub-nav-button:before {
		top: 0;
	}
	.sp.sub-nav-button:after {
		bottom: 0;
	}

	.sp.sub-nav-button span {
		text-indent: -999999999999em;
		width: 30px;
		display: block;
		height: 3px;
		background: #FFFFFF;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
	.status-on .sp.sub-nav-button:before,
	.status-on .sp.sub-nav-button:after {
		top: 50%;
		left: 50%;
		bottom: 50%;
	}
	.status-on .sp.sub-nav-button:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.status-on .sp.sub-nav-button:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	.status-on .sp.sub-nav-button span { opacity: 0; }
	.sub-nav,
	.small-menu-contents .sub-nav { display: none; }
	.status-on .sub-nav {
		display: block;
		width: 100%;
		right: 0;
		position: relative;
		top: 50px;
		transform: none;
	}
	.status-on .sub-nav ul {
		display: block;
		padding: 0;
	}
	.status-on .sub-nav ul a {
		line-height: 3;
		padding-left: 1.5em;
		margin: 0;
		border-top: 1px solid #555555;
		display: block;
	}
	.status-on .sub-nav ul li:last-child a {
		border-bottom: 1px solid #555555;
	}
}

/* ============================================================================ */
/* 0-2 side-manu */
/* ============================================================================ */

nav.side-manu {
	list-style: none;
	width: 300px;
	background-color: #1d3649;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	padding-top: 50px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.menu-user-id {
	color: #FFFFFF;
	padding: 20px;
}
nav.side-manu ul {
	padding: 0 12px;
}
nav.side-manu ul li a {
	color: #FFFFFF;
	line-height: 3em;
	display: block;
}
nav.side-manu ul li a:hover {
	background-color: #19191a;
	color: #ff9912;
}
.switching-button {
	color: #FFFFFF;
	position: absolute;
	bottom: 40px;
	right: 20px;
	transform: rotate(180deg);
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.switching-button p {
	margin: 0;
	font-size: 1.6rem;
}

/* small-menu */
.small-menu-contents nav.side-manu {
	width: 60px;
}
.small-menu-contents .menu-user-id,
.small-menu-contents nav.side-manu ul li a span { display: none; }
.small-menu-contents .switching-button {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

@media only screen and (max-width: 1024px) {
	nav.side-manu {
		width: 50px;
	}
	nav.side-manu ul {
		padding: 0 10px;
	}
	.menu-user-id,
	nav.side-manu ul li a span { display: none; }
	.switching-button {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
		right: 15px;
	}
	.small-menu-contents nav.side-manu {
		width: 300px;
	}
	.small-menu-contents .menu-user-id,
	.small-menu-contents nav.side-manu ul li a span { display: inline-block; }
	.small-menu-contents .switching-button {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

/* ============================================================================ */
/* 0-3 contents */
/* ============================================================================ */

main {
	width: -webkit-calc(100% - 300px);
	width: -moz-calc(100% - 300px);
	width: -ms-calc(100% - 300px);
	width: -o-calc(100% - 300px);
	width: calc(100% - 300px);
	margin-left: 300px;
	padding-top: 70px;
	/*-webkit-transition: all .2s ease;*/
	/*-moz-transition: all .2s ease;*/
	/*-ms-transition: all .2s ease;*/
	/*-o-transition: all .2s ease;*/
	/*transition: all .2s ease;*/
}
.small-menu-contents main {
	width: -webkit-calc(100% - 60px);
	width: -moz-calc(100% - 60px);
	width: -ms-calc(100% - 60px);
	width: -o-calc(100% - 60px);
	width: calc(100% - 60px);
	margin-left: 60px;
}
.wrapper {
	height: 100vh;
	position: relative;
}

@media only screen and (max-width: 1024px) {
	main {
		width: -webkit-calc(100% - 50px);
		width: -moz-calc(100% - 50px);
		width: -ms-calc(100% - 50px);
		width: -o-calc(100% - 50px);
		width: calc(100% - 50px);
		margin-left: 50px;
	}
}

@media only screen and (max-width: 767px) {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

/*--- 1-1 color --------------------------------------------------------------- */

/* 1-1-1 color sunnyBlue bg */
.color-sunnyBlue { background-color: #1d3649; }
/* 1-1-2 color sunnyBlue text color */
.color-txt-sunnyBlue { color: #1d3649; }
/* 1-1-3 color sunnyOrange bg */
.color-sunnyOrange { background-color: #ff9912; }
/* 1-1-4 color sunnyOrange text color */
.color-txt-sunnyOrange { color: #ff9912; }
/* 1-1-5 color lightBlue bg */
.color-lightBlue { background-color: #0073aa; }
/* 1-1-6 color lightBlue text color */
.color-txt-lightBlue { color: #0073aa; }
/* 1-1-7 color gray bg */
.color-gray { background-color: #f5f5f5; }
/* 1-1-8 color gray text color */
.color-txt-gray { color: #f5f5f5; }

/*--- 1-2 Titles & Headings ---------------------------------------------------------------*/

/* 1-2-1 h1 */
h1 {
	font-weight: normal;
	margin-bottom: 30px;
	margin-top: 0;
	line-height: 1.7em;
	width: 100%;
	border-bottom: 5px solid #ff9912;
}
/* 1-2-2 h2 */
h2 {
	display: block;
	font-weight: normal;
	margin-bottom: 30px;
	margin-top: 0;
	line-height: 1.7em;
	width: 100%;
	border-bottom: 5px solid #eeeeee;
}
/* 1-2-3 h3 */
h3 {
	display: block;
	line-height: 1;
	padding: 10px 0;
	font-weight: normal;
	font-size: 1.7rem;
	margin: 0 0 30px;
	width: 100%;
}
/* 1-2-4 p */
p {
	margin: 0 0 20px;
	line-height: 1.7em;
	letter-spacing: .06em;
}
/* 1-2-5 list */
ul {
	margin: 0 0 20px;
	position: relative;
	padding-left: 2em;
}
.no-disc-list {
	list-style: none;
	padding-left: 0;
}

/*--- 1-3 link list ---------------------------------------------------------------*/
/* 1-3-1 link list cell */
ul.list-link.no-disc-list {
	position: relative;
	overflow: hidden;
}
ul.list-link.no-disc-list li a {
	display: block;
	border: 1px solid #cccccc;
	background-color: #FFFFFF;
	padding: 15px;
	position: relative;
	margin-top: -1px;
}
ul.list-link.no-disc-list li:first-child a { margin-top: 0px; }
ul.list-link.no-disc-list li a:hover {
	background-color: #EFEFEF;
	color: #0073AA;
}
ul.list-link.no-disc-list li a p {
	width: -webkit-calc(100% - 260px);
	width: -moz-calc(100% - 260px);
	width: -ms-calc(100% - 260px);
	width: -o-calc(100% - 260px);
	width: calc(100% - 260px);
	margin-right: 260px;
	line-height: 3.2rem;
	margin-bottom: 0;
}
ul.list-link.no-disc-list li a .no-disc-list {
	width: 255px;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
	ul.list-link.no-disc-list li a p {
		display: block;
		width: 100%;
		margin: 0 0 20px;
		line-height: 1.7em;
	}
	ul.list-link.no-disc-list li a .no-disc-list {
		width: 100%;
		position: relative;
		top: 0;
		right: 0;
		transform: none;
		padding-top: 10px;
		border-top: 1px solid #EFEFEF;
	}
}

/*--- 1-4 text link ---------------------------------------------------------------*/

/* 1-4-1 text link */
a {
	color: #0073AA;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
a:hover {
	color: #FF9912;
	text-decoration: none;
}
a.text-link { border-bottom: 1px solid; }

/*--- 1-5 button ---------------------------------------------------------------*/

.btn {
	color: #FFFFFF;
	padding: 0.65em 1.5em;
	line-height: 1;
	/*-webkit-transition: all .3s linear;*/
	/*-moz-transition: all .3s linear;*/
	/*-ms-transition: all .3s linear;*/
	/*-o-transition: all .3s linear;*/
	/*transition: all .3s linear;*/
}
.btn:hover {
	color: #FFFFFF;
}
/* 1-5-1 button blue */
.btn-blue {
	border-color: #0073aa;
	background-color: #0073aa;
}
.btn-blue:hover {
	border-color: #02557d;
	background-color: #02557d;
}
/* 1-5-2 button orange */
.btn-orange {
	border-color: #ff9912;
	background-color: #ff9912;
}
.btn-orange:hover {
	border-color: #d27700;
	background-color: #d27700;
}
/* 1-5-3 button green */
.btn-green {
	border-color: #5cb85c;
	background-color: #5cb85c;
}
.btn-green:hover {
	border-color: #3b7d3b;
	background-color: #3b7d3b;
}
/* 1-5-4 button blue border toggle */
.btn-blue-outline {
	border-color: #0073aa;
	color: #0073aa;
	background-color: #FFFFFF;
}
.btn-blue-outline:hover {
	color: #FFFFFF;
	background-color: #0073aa;
}
.btn .button-on { display: none; }
.btn.status-on .button-off { display: none; }
.btn.status-on .button-on { display: inline; }
.btn.status-on.btn-blue-outline {
	border-color: #0073aa;
	color: #FFFFFF;
	background-color: #0073aa;
}
.btn.status-on.btn-blue-outline:hover {
	border-color: #02557d;
	color: #FFFFFF;
	background-color: #02557d;
}
.btn.btn-sm { padding: 0.6em 1.5em; }

/*--- 1-6 Pagination ---------------------------------------------------------------*/

/* 1-6-1 Pagination prev */
/* 1-6-2 Pagination link */
/* 1-6-3 Pagination active */
/* 1-6-2 Pagination active */
/* 1-6-4 Pagination next */
.page-item .page-link {
	line-height: 1.2em;
	padding: .7em 1em;
}
.page-link:hover {
	background-color: #CCCCCC;
}

/*--- 1-7 table ---------------------------------------------------------------*/

/* 1-7-1:table */
.table {
	font-size: 1.4rem;
}
.table thead th {
	background-color: #1d3649;
	color: #FFFFFF;
}
.table th { font-weight: normal; }
.table tbody tr > * {
	text-align: left;
	padding: 1em 0.5em;
}
.table tbody tr th { width: 10em; }
/* 1-7-2:table sort */
.sort-table thead th {
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.sort-table thead th:hover,
.sort-table thead th.on {
	background-color: #ff9912;
}
.sort-table .on {
	background-color: ;
}

/*--- 1-8 Alert ---------------------------------------------------------------*/

.alert {
	font-weight: bold;
	border: none;
	line-height: 1;
	padding: .7em 1em;
}
/* 1-8-1 Alert normal */
.alert-normal {
	color: #004085;
	background-color: #dde6f2;
}
/* 1-8-1 Alert danger */
.alert-danger {
	color: #b21b18;
	background-color: #f8d7da;
}
@media only screen and (max-width: 1024px) {
	.alert {
		line-height: 1.4em;
		padding: .6em .8em;
	}
}

/*--- 1-9 Badges ---------------------------------------------------------------*/

.badge {
	margin: 0 0.5em;
	padding: .7rem 1rem;
	font-weight: normal;
	line-height: 1;
	letter-spacing: -.0em;
	color: #FFFFFF;
}
/* 1-9-1 Badges count */
.badge.badge-small.badge-pill.badge-orange {
	padding: .4rem .6rem;
}
/* 1-9-2 Badges square red */
.badge-red {
	background-color: #e60606;
}
/* 1-9-3 Badges square gray */
.badge-gray {
	color: #333333;
	background-color: #DDDDDD;
}
/* 1-9-4 Badges Round orange */
.badge-orange {
	background-color: #ff9912;
}
/* 1-9-5 Badges Round blue */
.badge-blue {
	background-color: #0073aa;
}

/*--- 1-10 Forms ---------------------------------------------------------------*/

/* 1-10-1 forms text */
/* 1-10-2 forms pull-down */
/* 1-10-3 forms search */
/* 1-10-4 forms password */
/* 1-10-5 forms login */
/* 1-10-6 forms statement */
/* 1-10-7 forms number */
/* 1-10-8 forms radio */
/* 1-10-9 forms checkbox */

form { margin-bottom: 4rem;  }
.form-box {
	border: 4px solid #ced4da;
	padding: 4em 3em;
}
.form-control {
	padding: 0.4em 0.6em;
	height: -webkit-calc(3.8rem + 2px);
	height: -moz-calc(3.8rem + 2px);
	height: -ms-calc(3.8rem + 2px);
	height: -o-calc(3.8rem + 2px);
	height: calc(3.8rem + 2px);
}
form .form-control::placeholder,
form .form-control:-ms-input-placeholder,
form .form-control::-ms-input-placeholder {
	color: #EFEFEF;
}
.form-group { margin: 2em 0; }
.title-form-01 .col-form-label {
	line-height: 1.7em;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.title-form-01 .form-group.row .badge {
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.form-group.col-md-1 .btn {
	padding: 0.7em 0;
	width: 100%;
}
.input-group-text {
	width: 4em;
	height: 4em;
}
.input-group-text i {
	color: #0073aa;
	text-align: center;
	margin: 0 auto;
}
.custom-select { height: auto; }
.col-sm-1.date-icon {
	text-align: center;
	max-width: 1.6em;
	padding: 0;
	line-height: 2.4em;
}
.multiple-input input { margin-bottom: 10px; }
.multiple-input input:last-child { margin-bottom: 0; }
/* 1-10-9 forms checkbox */
.form-check > * {
	padding: 0px 0.5em;
	display: inline-block;
	vertical-align: middle;
}
.form-check > input[type=checkbox],
.form-check > input[type=radio] {
	margin: 0.6em 0px 0 -0.8em;
}

@media only screen and (max-width: 768px) {
	.form-box {
		border: 4px solid #ced4da;
		padding: 1em 0;
	}
}

@media only screen and (max-width: 767px) {
	.title-form-01 .form-group.row .badge {
		vertical-align: middle;
		position: absolute;
		top: -35px;
		left: inherit;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: none;
		right: 8px;
	}
	.title-form-01 .col-form-label {
		text-align: left;
		justify-content: flex-start;
	}
	.submit-contents button {
		width: calc(100% - 30px);
		margin: 2rem 15px 0;
	}
	.form-box .form-group {
		margin: 2em 15px;
	}
}

/*--- 1-10 Forms ---------------------------------------------------------------*/

/* 1-11-1 status block */
.status-block {
	overflow: hidden;
	position: relative;
	color: #FFFFFF;
	margin-bottom: 30px;
}
.status-block .block-contents {
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #ff9912;
	padding: 20px 15px;
	position: relative;
}
.status-block .block-contents > p {
	line-height: 1.4em;
	min-width: 170px;
	position: absolute;
	top: 50%;
	left: 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.instance-count {
	margin-left: 110px;
	width: -webkit-calc(100% - 110px);
	width: -moz-calc(100% - 110px);
	width: -ms-calc(100% - 110px);
	width: -o-calc(100% - 110px);
	width: calc(100% - 110px);
	text-align: right;
	line-height: 1;
	padding-top: 2rem;
}
.status-block .block-footer {
	border-radius: 0 0 5px 5px;
}
.status-block .block-footer a {
	padding: 13px 15px;
	display: block;
	position: relative;
	color: #FFFFFF;
	background-color: #1d3649;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.status-block .block-footer a:hover {
	background-color: #19191a;
}
.status-block .block-footer {
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
.status-block .block-footer a i {
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media only screen and (min-width: 1024px) and (max-width: 1180px) {
	.instance-count {
		font-size: 2.8rem;
		margin-left: 90px;
		padding-top: 2.4rem;
		width: -webkit-calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -ms-calc(100% - 90px);
		width: -o-calc(100% - 90px);
		width: calc(100% - 90px);
	}
	.status-block .block-contents > p { font-size: 2rem; }
}
@media only screen and (max-width: 1024px) {
	.status-block .block-contents > p {
		line-height: 1.4em;
		min-width: 170px;
		position: relative;
		top: 0;
		left: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		margin: 0;
	}
	.instance-count {
		width: 100%;
		margin-left: 0;
		padding-top: 0;
	}
}

/* ============================================================================ */
/* 0-4 page-footer */
/* ============================================================================ */

/* ============================================================================ */
/* 0-5 guide-style */
/* ============================================================================ */

.color-guide .col-md > p {
	margin-bottom: 10px;
	line-height: 1.2em;
	padding: 5px;
}
.color-guide .col-md > p:nth-child(2) {
	padding-top: 56.25%;
}
.color-guide .col-md:last-child > p:last-child {
	background: #1d3649;
}
.color-guide .col-md > p span {
	display: block;
}
.dropdown .btn { width: 180px; }