
/*style width by px*/
.w_65 {
    width: 65px!important;
}
.w_75 {
    width: 75px!important;
}

/*end style width by px*/

.badge-red {
    background-color: red;
}
.badge-blue {
    background-color: blue;
}
.badge-warning {
    background-color: #d9534f;
    margin-left: 5px;
}
.main{padding-top: 70px;}
#sticky-sidebar {
    position:fixed;
    max-width: 20%;
}
.bd-sidebar{
    max-width: 20%;
    position: fixed;
    height: 100%;
    background: #cccccc3b;
    padding-top: 70px;
    border-right: 2px solid rgba(0, 0, 0, 0.14);
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-rightleft {
    padding-left: 0;
    padding-right: 0;
}
.text-info-nodata {
    font-size: 12pt;
}
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.sunny-view-container {
    float: none;
    margin-left: 23%;
    margin-top: 60px;
}
/* custom scrollbar --START */
.scrollable {
   overflow: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 7px;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 20px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/* custom scrollbar --END */

/*search */
#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
.bus-date>.form-control+.form-control{
  margin-bottom: 1rem;
}
/*end search*/
#fixed-drop-table tr
{
    cursor:move;
}
#fixed-drop-table tr.state-highlight
{
    background-color:#ffffcc;
    border:1px dotted #ccc;
    cursor:move;
    height: 51px;
}
#result {
    position: absolute;
    right: -10%;
    top: 80px;
    webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.loading-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
}
.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.no-br {
    border-radius: 0;
}
input.invalid:focus,
textarea.invalid:focus,
select.invalid:focus {
    border: 1px solid #f00;
    box-shadow: inset 0 1px 1px #ff000024, 0 0 8px #ff000024;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* admin/obj.php --START */
textarea#obj_desc {
    resize: vertical;
    max-height: 250px;
    min-height: 100px;
    height: 100px;
}

.input-group-custom input {
    border-radius: 4px !important;
}
.input-group-custom .input-group-btn > .btn {
    margin-left: 15px;
    border-radius: 4px;
}
/* admin/obj.php --END */

/* con/request.php --START */
textarea#req_note
{
    resize: vertical;
    max-height: 250px;
    min-height: 100px;
    height: 100px;
}
/* con/request.php --END */

/* sortable table --START */
/* sortable table --END */
.error_sub select, .error_sub textarea.error,
.error_sub textarea.error:focus,
.error_sub input, .error input,
input.error, input.error:focus,
select.error, select.error:focus {
    border: 1px solid #f00;
    outline: none;
    box-shadow: none;
}
#name_pair-error, .error{
    color: #f00
}
select.error > option {
    color: initial;
}
/*Form Wizard*/
.bs-wizard {
    margin: 0;
}
.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
    margin-bottom: 30px;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #b0d3f3;
    bottom: 10px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #3379b7;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
    background-color: #dadada;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width:0px;
    box-shadow: none;
    background: #b0d3f3;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #dadada;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.glyphicon.spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
    line-height: 0 !important;
}
@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* con/inst.php --START */
.btn-state{
    padding: 0 15px 0 15px;
    border: none;
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    border-radius: 0;
    width: 110px;
    background-color: transparent;
}
.btn-state:hover,
.btn-state:active,
.btn-state:focus{
    box-shadow: none;
    outline: none !important;
}
#tree ul.gj-list-bootstrap li [data-role="wrapper"] {
    padding-right: 0 !important;
}
#tree ul.gj-list-bootstrap li.active,
#tree ul.gj-list-bootstrap li.active:focus,
#tree ul.gj-list-bootstrap li.active:hover {
    border-color: #ddd;
}
/* con/inst.php --END */

/* scrollable table with fixed header --START */
table.fixed-header{
    table-layout: fixed;
    border-collapse: collapse;
}

table.fixed-header tbody{
    display:block;
    width: 100%;
    overflow: auto;
}

table.fixed-header thead tr {
    display: block;
}

table.fixed-header th, table.fixed-header td {
    padding: 5px;
    text-align: left;
    width: 200px;
}
/* scrollable table with fixed header --END */

label.form-check {
    display: block;
}

/* validate*/
.hidden_iops, .hidden_input{display: none}
.w_145 {width: 145px}
#agree{margin-right: 7px}
#agree-error{
    position: absolute;
    left: 25%;
}
#reg_form .reg_for{height: 65px}
.bnt-checkbox{margin-bottom: 1rem; margin-top: 10px;}
.progress{background: none;box-shadow: none;}
.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.mt-1 {
    margin-top: .25rem!important;
}
.mt-2 {
    margin-top: -0.75rem!important;
}
/*form login ids*/
.modal-login{
    width: 350px;
    margin-top: 13%;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -5px;
}
.modal-login .avatar {
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    top: -56px;
    width: 130px;
    height: 83px;
    z-index: 9;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.modal-login .modal-body{
    padding: 20px 40px;
}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    font-size: 13px;
}
.modal-login .form-control {
    font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 37px;
    border-radius: 30px;
    transition: all 0.5s;
}
.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}
.form-top-left {
    float: left;
    width: 75%;
}
.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}
.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}
.form-bottom form button.btn {
    width: 100%;
}
/*end form login ids*/

/*cron job*/
.mgT {margin: 50px 0px}
.cronjob_select {
  width: 80px;
  display:inline;
  margin-right:5px;
}
.cronjob_select_week {
  width: 100px;
  display:inline;
  margin-right:5px;
}
.cron_display {
  display: none;
}
/* end cron job*/

pre.log-info {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.instance_sub .form-group {min-height: 55px}

#project-resource .header-dept,
#project-resource .header-proj{
    min-width:180px;
    width:180px;
}

.toggle {
    margin-bottom: 5px;
    display: inline-block;
}
.toggle input {
    display: none;
}
.toggle input:checked + label {
    background: #0e90d2;
}
.toggle input:disabled + label {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.toggle label {
    display: block;
    background: #C7C7CC;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 0;
    cursor: pointer;
}
.toggle label:before {
    content: '';
    display: block;
    background: white;
    position: relative;
    top: 2px;
    left: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.toggle input:checked + label:before {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
}
.toggle label {
    width: 45px;
    height: 20px;
    border-radius: 30px;
}
.toggle label:before {
    width: 16px;
    height: 16px;
    border-radius: 30px;
}
.toggle + label {
    font-weight: normal;
    margin-left: 5px;
    cursor: pointer;
}
.expr_cron {
    width:95px;
    margin-right: 10px;
}
.tab-content {
    padding:10px;
    border-left:1px solid #DDD;
    border-bottom:1px solid #DDD;
    border-right:1px solid #DDD;
    margin-bottom: 10px;
}
.tab-content.tab-content-sub {border: none}
.btn-group a {margin-right: 30px; border-radius: 0px;}
.vpc_sg {margin-top: 5px;}
form[name="frm-ebs-volumes"] input[disabled],
form[name="frm-ebs-volumes"] select[disabled] {
    box-shadow: none !important;
    background-color: #f5f5f5 !important;
}
#cw-rules-container {
    overflow-x: hidden;
}
#cw-rules-container .scroll-table {
    overflow-x: auto;
}
#treeboxbox_tree,
#treeboxbox_tree2 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 15px;
    width: 350px;
    height: 500px;
    overflow: hidden;
    line-height: normal;
    border: 1px solid #dfdfdf;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.09);
    margin-bottom: 20px;
}
/*style for folder tree*/
.instance_tree_view div.dhxtreeview_cont {
    position: relative!important;
    height: auto!important;
}
.instance_tree_view .dhxtreeview_area > .dhxtreeview_item {
    border-bottom: 1px solid #dddddd;
}
.folder-tree .btn-state {
    top: 0;
    bottom: auto;
    height: 35px;
}
.table-wrap-tree {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.table-wrap-tree .treeboxbox_icon {
    text-align: center;
}
/*end style for folder tree*/
/*customize fa icon*/
.fa-network-cs,
.fa-project-cs,
.fa-type-cs ,
.fa-notebook-cs {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-width: 16px;
    min-height: 24px;
}
.fa-project-cs {
    background-image: url("../images/icon/project.png");
}
.fa-type-cs {
    background-image: url("../images/icon/type.png");
}
.fa-network-cs {
    background-image: url("../images/icon/network.png");
}
.fa-notebook-cs {
    background-image: url("../images/icon/notebook.png");
}
/*end customize fa icon*/
/*main style*/
.hide {
    display: none!important;
}
.w_100 {
    width: 100px!important;
}
.w_200 {
    width: 200px!important;
}
.w_250 {
    width: 250px!important;
}
main {
    min-height: calc(100% - 112px);
}
.main-full-width {
    width: 100%;
    margin-left: 0;
}
.line-or {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    width: 200px;
}
.line-or:before ,
.line-or:after {
    content: "";
    height: 0.2em;
    flex: 1;
    border: solid #dddddd;
    border-width: 0.05px 0;
    margin: 0.2em  ;
}
.nav-link {
    padding: 1rem;
}
/*end main style*/
/*customize .status-block*/
.status-block .block-footer a {
    background-color: inherit!important;
}
/*end customize .status-block*/
/*.spinner*/
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.spinner {
    -webkit-animation: rotating 1.5s linear infinite;
    -moz-animation: rotating 1.5s linear infinite;
    -ms-animation: rotating 1.5s linear infinite;
    -o-animation: rotating 1.5s linear infinite;
    animation: rotating 1.5s linear infinite;
}
/*end .spinner*/
/*custom checkbox*/
input[type=checkbox],
input[type=radio] {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
.form-check {
    position: relative;
    padding: 0;
}
.form-check input[type=radio],
.form-check input[type=checkbox] {
    position: absolute;
    left: 2px;
    top: 10px;
    z-index: 3;
    margin: 0;
    opacity: 0;

}
.form-check input[type=radio] + label,
.form-check input[type=checkbox] + label {
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    position: relative;
    display: inline-block;
    padding: 0 0 0 28px;
    vertical-align: middle;
    cursor: pointer;
    min-width: 18px;
    min-height: 20px;
}
.form-check input[type=radio] + label:before,
.form-check input[type=radio] + label:after ,
.form-check input[type=checkbox] + label:before,
.form-check input[type=checkbox] + label:after {
    content: "";
    position: absolute;
    display: block;
    margin: 0;
}
.form-check input[type=radio] + label:before,
.form-check input[type=checkbox] + label:before {
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff;
    z-index: 1;
}
.form-check input[type=checkbox]:hover + label:before,
.form-check input[type=checkbox] + label:hover:before {
    border-color: #0171bd;
}
.form-check input[type=checkbox] + label:after {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    top: 7px;
    left: 6px;
    width: 6px;
    height: 11px;
    border-right: 3px solid #0171bd;
    border-bottom: 3px solid #0171bd;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    z-index: 2;
}
.form-check input[type=checkbox]:checked + label:after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
}
.form-check input[type=radio] + label:before,
.form-check input[type=radio] + label:after {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.form-check input[type=radio] + label:after {
    width: 10px;
    height: 10px;
    background-color: #0171bd;
    left: 4px;
    top: 8px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 2;
}
.form-check input[type=radio]:checked + label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.form-check input[type=radio]:checked + label:before {
    border-color: #0171bd;
}
.form-check input[type=radio]:hover + label:before,
.form-check input[type=radio] + label:hover:before {
    border-color: #0171bd;
}
.form-check-required {
    padding-left: 28px;
    position: relative;
}
.form-check-required .form-check-input {
    left: 0;
    margin: 0;
    top: 7px;
}
/*end custom checkbox, radio*/
/*customize cons/info page*/
ul.list-link.no-disc-list li a.opened {
    background-color: #EFEFEF;
    color: #0073AA;
}
/*end customize cons/info page*/
/*customize dropdown menu*/
.g-recaptcha .error {
    display: block!important;
}
/*style table*/
.table-wrap td,
.table-wrap th {
    word-break: break-all;
}
.text-wrap {
    word-break: break-all;
}
/*end style table*/
.nolink .status-block .block-footer a {
    color: transparent!important;
    cursor: default;
}
.responsive-vertical {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 10px;
}
@media only screen and (min-width: 992px){
    .modal-xl {
        max-width: 1000px;
    }
}
@media only screen and (min-width: 1025px){
    .sub-nav .dropdown-item a{
        color: #333333;
        display: block;
    }
}
@media only screen and (max-width: 1200px){
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
        height: 50px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 1024px){
    .sub-nav {
        height: calc(100% - 50px);
        overflow-y: auto;
    }
    .status-on .sub-nav ul {
        float: none;
        position: static!important;
        background-color: transparent;
    }
    .status-on .sub-nav .dropdown-menu {
        display: none;
        transform: none!important;
    }
    .status-on .sub-nav .dropdown-menu.show {
        position: static;
        display: block;
    }
    .sub-nav .dropdown-item a {
        color: #ffffff;
    }
    .status-on .sub-nav ul li:last-child a{
        border-bottom: none;
    }
}
/*end customize dropdown menu*/
/*style user inst page*/
.treeboxbox_icon .btn {
    width: 65px;
    padding: 0.7em 1em;
}
/*end style user inst page*/
@media only screen and (max-width: 805px){
    #treeboxbox_tree, #treeboxbox_tree2 {
        display: block;
        margin: 20px auto 0 auto;
    }
}
@media only screen and (max-width: 767px){
    .bs-wizard > .bs-wizard-step {
    }
}

/*cons/security_group.php --START */
.typeahead {
    visibility: hidden;
}
.typeahead.visible {
    visibility: visible !important;
}
/*cons/security_group.php --END */

[id^="tbl_sg_"] .selectize-input{
    border: 1px solid #ced4da;
    box-shadow: none;
    height: calc(3.8rem + 2px);
    background: none;
    font-family: "Noto Sans Japanese";
    font-feature-settings: "palt";
}
.selectize-input ::placeholder {
    color: #1d3649;
    opacity: 1;
    font-size: 1.35rem;
}
.selectize-input > *{
    font-size: 1.6rem;
    white-space: nowrap;
    word-wrap: keep-all;
}
.selectize-dropdown [data-selectable].option {
    font-size: 1.5rem;
}
.selectize-input.invalid {
    /* border: 1px solid red; */
}
.selectize-input label {
    display: none !important;
}
.dhxcombo_material {
    width: 100% !important;
    height: calc(3.8rem + 2px) !important;
    border: 1px solid #ced4da !important;
}
input::placeholder {
    font-size: 1.6rem;
    color: #495057;
}
#combo_zone_script input.dhxcombo_input {
   height: 39px !important;
   padding-left: 9px;
}