<script>

function dispYes() {
 alert("Yes");
}

</script>    
<form method="post" action="/admin/test.php">
<button type="submit" name="button" class="btn btn-primary" value="更新"><i class="glyphicon glyphicon-refresh"></i> 更新</button>

<input type="button" value="公開" onclick="confDialog('確認ダイアログ', 'よろしいですか？', dispYes);" />
<input type="button" value="非公開" onclick="setPrivate()" />
</form>

<div id="dialog"></div>
